*{
    margin: 0px;
    padding: 0px;
}

.corpo_forum {

    margin: 20px auto auto auto;
    padding: 20px;
    width: 1000px;
    font: 11px tahoma;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}

.rodape {

    margin: 3px auto auto auto;
    padding: 20px;
    width: 1000px;
    background-color: black;
    color: white;
    font: 0,7em tahoma;
    text-align: center;
    border-radius: 10px;
}

.form_login, .form_signup {

    width: 400px;
    border: 1px solid black;
    margin: 20px auto 20px auto;
    padding: 20px;
    text-align: left;
}

input[type="submit"] {

    width: 80px;
    padding: 3px;
}

.erro {

    margin: 20px auto 20px auto;
    color: red;
    font: bold 12px tahoma;
    text-align: center;
    width: 600px;
    border: 1px solid rgb(170,170,170);
    padding: 5px;
}

.novo_registro_sucesso, .login_sucesso {

    border: 2px groove rgb(170,170,170);
    padding: 20px;
    background-color: rgb(200,200,200);
    color: black;
    font: 11px tahoma;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    margin: 30px auto 30px auto;
}

.mensagem {

    width: 400px;
    border: 1px solid black;
    margin: 30px auto 30px auto;
    padding: 20px;
    text-align: center;
}

.dados_utilizador {

    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.dados_utilizador img {

    width: 40px;
    height: 40px;
}

.dados_utilizador span {

    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
}

.post {

    border: 1px solid rgb(180,180,180);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.post img {

    width: 30px;
    height: 30px;
}
